




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;

}
html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;

}
h1 {
    font-size: 70px;
}
.span {
    height: 5px;
    width: 180px;
    color: white;
    background-color: red;
    display: inline-block;
    
    border-radius: 10px;
}
header {
    background-image: url("../imgs/dawn.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    padding: 0 50px 0 50px;
    color: white;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.694);
   
    margin: 0 0 0 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    right: 5%;
    left: 5%;
    margin-top: 0px;
    background-color: transparent;
    transition: all 0.3s;
    z-index: 1000;
    padding: 20px 10px;
      
}
.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
    right: 0%;
    left: 0%;
    height: 100px;
    
    
}



.logo a h3 {
    font-size: 24px;



}

nav ul {

    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

nav ul li a {

    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    padding: 0 0 0 20px;
    text-transform: capitalize;
}
 
.logo a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
}

/* === banner section ==== */

.banner {
    text-align: center;
    padding: 50px 0 100px 0;
}

.banner h3 {
    font-size: 31px;
    font-style: italic;
    margin-top: 128px;
}

.banner h1{
    margin: 50px;
    font-size: 66px;
    text-align: center;
}

.banner button{
    background-color: red;
    color: white;
    border-radius: 50px;

    height: 50px;
    width: 185px;
    border: red;
    font-size: 20px;
   
    letter-spacing: 4px;
    font-weight: 550;
    margin: 0 0 50px 0;
    transition: all 0.3s linear;
}
.banner button:hover {
    background-color: rgba(255, 0, 0, 0);
    letter-spacing: 6px;
    border: red;
    
}
.banner span {
    height: 5px;
    width: 180px;
    color: white;
    background-color: red;
    display: inline-block;
    
    border-radius: 10px;
}



/* event main section */


.even-main {
    padding: 60px 15%;


}
.even-main h2 {
    font-size: 37px;
   


}
.even-up {
    text-align: center;

}
.even-main span {
    height: 5px;
    width: 180px;
    color: white;
    background-color: red;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    

}
.even {
    display: flex;
    padding: 0 0 0 0;
}
.even-items {
    
    width: 50%;
    margin: 14px;
    text-align: center;

}
.even-items img {

    height: 360px;
    border-radius: 10px;
    object-fit: cover;
    
}
.even-items h3 {margin-top: 27px;font-size: 20px;}
.even-items p {margin-top: 24px;}
.even-items a {
    margin-top: 23px;
    display: inline-block;
    text-decoration: none;letter-spacing: 4px;
    color: red;
    font-weight: 600;
    font-size: 20px;
}





.event-items {
    width: 50%;
    margin: 15px;
    height: 210px;
} 

/* explore section */

.explore {
    background-image: url("../imgs/father.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px;
    color: white;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 255, 0.463);
   display: flex;
   justify-content: space-between;
    

}

.explore-items {
    width: 50%;

}
.explore-items h1 {
    font-size: 66px;
    margin-top: 36px;

}
.explore-items span {
    height: 5px;
    width: 180px;
    color: white;
    background-color: red;
    display: inline-block;
    
    border-radius: 10px;
}

.explore-items p {
    margin-top: 23px;

} 
.explore-items a {
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-top: 64px;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 600;

}




/* tour- section` */

.tour-main {
    margin: 100px;
    border-radius: 0px;

}
.tour {
    display: flex;
    justify-content: space-between;
    
}
.tour-items {
    width: 33%;
    margin: 13px;

}
.tour-items h3 {
    font-size: 30px;

}
.tour-items span {
    height: 5px;
    width: 180px;
    color: white;
    background-color: red;
    display: inline-block;
    border-radius: 10px;

}
.tour-items p {
    margin: 31px 15px 0 0;

}
.tour-items a {
    display: inline-block;
    margin-top: 31px;

}
.tour-One {
    height: 300px;
    object-fit: cover;
    margin-bottom: 20px;

}
.tour-Two {
    height: 380px;
    object-fit: cover;
    margin-bottom: 20px;

}



/* footer section */

footer {
    background-color: black;
    color: white;
    padding: 100px;
    text-align: center;
    font-size: 18px;
}




/* ====  media quries ==== */

/* mobile device */

@media only screen and (max-width:669px) {
    .banner h1{
        margin: 50px;
        font-size: 25px;
        text-align: center;
    }

    .logo a h3 {
        font-size: 14px;
        
    }
    .banner h3 {
        font-size: 23px;
        margin-top: 90px;
    }

    nav ul li a {
        font-size: 12px;
        padding: 0 0 0 8px;
    }
    .banner button {
        height: 30px;
        width: 170px;
        font-size: 18px;
        margin: 0 0 30px 0;
        transition: all 0.3s linear;
    }
    .banner button:hover {
        letter-spacing: 5px;
        
    }


    /* === event main section === */


    .even-main {
    padding: 60px 0;
    

    }
    .even-main h2 {
    font-size: 30px;
    margin-top: -5px;
   
   }
   
   .even {
    padding: 0 0 0 0px;
    display: block;
    text-align: center;
   }
   .even-items {
    
    width: 80vh;
    margin: 14px;
    text-align: center;

}

   .even-items a {
    margin-top: 22px;
    font-size: 18px; 
    font-weight: 600;
   }


   /* === explore section === */
   

.explore-items h1 {
    font-size: 28px;
    margin-top: 18px;

}
.explore-items span {
    height: 5px;
    width: 128px;

}

.explore-items a {
   
    margin-top: 20px;
    font-size: 22px;
    font-weight: 400;

}

/* tour- section` */

.tour-main {
    margin: 12px;
    border-radius: 0px;

}

.tour {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    
}
.tour-items {
    width: 33%;
    margin:8px;

}
.tour-items h3 {
    font-size: 15px;

}
.tour-items span {
    height: 5px;
    width: 100px;

}
.tour-items p {
    margin: 15px 5px 0 0;

}

.tour-One {
    height: 120px;
    object-fit: cover;
    margin-bottom: 8px;

}
.tour-Two {
    height: 180px;
    object-fit: cover;
    margin-bottom: 8px;

}

/* footer section */

footer {
    background-color: black;
    color: white;
    padding: 100px;
    text-align: center;
    font-size: 12px;
    
}
}



/* === landscape mobile, tab device === */
@media only screen and (min-width:669px) and (max-width:768px) {
    .banner h1 {
        font-size: 40px;
        margin-top: 28px 40px 0 0;
    }
        
    
        .logo a h3 {
            font-size: 23px;
            
        }
        .banner h3 {
            font-size: 24px;
            margin-top: 120px;
        }
    
        nav ul li a {
            font-size: 18px;
            padding: 0 0 0 15px;
        }
        .banner button{
            
        
            height: 40px;
            width: 150px;
           
        }


        /* event main section */

        .even-items a {
            margin-top: 28px;
            display: inline-block;
            text-decoration: none;letter-spacing: 4px;
            font-size: 18px;
            font-weight: 600;
        }

        /* tour- section` */

.tour-main {
    margin: 70px;
    border-radius: 0px;

}
.tour {
    display: flex;
    justify-content: space-between;
    
}
.tour-items {
    width: 33%;
    margin: 13px;

}
.tour-items h3 {
    font-size: 30px;

}
.tour-items span {
    height: 5px;
    width: 180px;
    color: white;
    background-color: red;
    display: inline-block;
    border-radius: 10px;

}
.tour-items p {
    margin: 31px 15px 0 0;

}
.tour-items a {
    display: inline-block;
    margin-top: 31px;

}
.tour-One {
    height: 300px;
    object-fit: cover;
    margin-bottom: 20px;

}
.tour-Two {
    height: 380px;
    object-fit: cover;
    margin-bottom: 20px;

}
        
      
    }


/* tab landscape, large tab,tv er choto monitor, small monitor  */

@media only screen and (min-width:769px) and (max-width:992px) {
    .banner h1 {
        font-size: 50px;
        margin-top: 40px 40px 0 0;
    }
    .banner h3 {
        font-size: 27px;
        margin-top: 150px;
    }
    .banner button {
        width: 180px;
        margin: 40px 0 50px 0;
    }
    .banner span {
        margin: 8px 0 0 0;
    }

    .banner button{
        height: 40px;
        width: 150px;
       
    }


    /* event main section */


    .even-items a {
        margin-top: 28px;
        display: inline-block;
        text-decoration: none;letter-spacing: 4px;
        color: red;
        font-size: 18px;
        font-weight: 600;
    }


}

/* small monitor, small leptop */

@media only screen and (min-width:993px) and (max-width:1024px) {
    
}


